
@{
    ViewBag.Title = "Index";
}


@Html.ValidationSummary()

<h2>Index</h2>
<form action="" method="post">
    <input type="text" name="Name" value="@Model.Name" placeholder="Name" class="form-control" />
    <br />
    <span class="text-danger">@Html.ValidationMessage("Name")</span>
    <input type="text" value="@Model.Uname" name="Uname" placeholder="Username" class="form-control" />
    <br />
    <span class="text-danger">@Html.ValidationMessage("Uname")</span>
    <br />
    Gender: <input type="radio" name="Gender" value="Male" />Male
    <input type="radio" name="Gender" value="Female" />Female
    <br />
    Profession:
    <select class="form-control" name="Profession">
        <option selected disabled>Select</option>
        <option>Student</option>
        <option>Business</option>
    </select>
    <br />
    Hobbies:
    <input type="checkbox" value="Travelling" name="Hobbies[]" />Travelling
    <input type="checkbox" value="Sports" name="Hobbies[]" />Sports
    <input type="checkbox" value="Music" name="Hobbies[]" />Music
    <input type="checkbox" value="Video Games" name="Hobbies[]" />Video Games
    <br />
    <input type="text" name="Roll" placeholder="Roll No" class="form-control" />
    <input type="submit" value="Sign Up" class="btn btn-danger" />
</form>

